.row{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.col{
    flex: 1;
    margin: 1px;
    padding: 5px;
    background-color: mediumspringgreen;

}

.col-2{
    flex: 2;
    margin: 1px;
    padding: 5px;
    background-color: mediumspringgreen;
}

.col-3{
    flex: 3;
    margin: 1px;
    padding: 5px;
    background-color: mediumspringgreen;
}